{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Создать пост</h5>
            <div class="card-body">
                <p class="card-text"> Здесь вы можете создать свой пост</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_post' %}" class="btn btn-danger">Создать пост</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock sidebar %}
